package agents.{{ snake .AgentName }};

public class {{ pascal .AgentName }}Controller {
    private final {{ pascal .AgentName }}Service service;

    public {{ pascal .AgentName }}Controller({{ pascal .AgentName }}Service service) {
        this.service = service;
    }
}
