package agents.{{ snake .AgentName }};

public class {{ pascal .AgentName }}Service {
    public {{ pascal .AgentName }}Response execute({{ pascal .AgentName }}Request request) {
        return new {{ pascal .AgentName }}Response();
    }
}
